<div class="page-wrapper">
  <div class="page-header">
    <h2 class="page-heading">Kanban Board</h2>
</div>
  <div class="kanban-container">
    <div class="kanban-list-group" cdkDropListGroup>
      <div class="kanban-list" *ngFor="let stage of stages;let i=index;" cdkDropList [cdkDropListData]="stage.data" (cdkDropListDropped)="drop($event)">
        <div class="kanban-list-header">
          <h4 class="kanban-list-heading">{{stage.title}}</h4>
        </div>
        <div class="kanban-card no-drag">
          <span class="kanban-card-tag" #meta contenteditable="true"></span>
          <h5 class="kanban-card-title" #title contenteditable="true"></h5>
          <span class="kanban-save-btn" (click)="addJob(i,title,meta)" matRipple><mat-icon>add_circle</mat-icon></span>
        </div>
        <div class="kanban-card" *ngFor="let data of stage.data" cdkDrag>
          <span class="kanban-card-tag">{{data.metaData}}</span>
          <h5 class="kanban-card-title">{{data.task}}</h5>
        </div>
      </div>
      <div class="kanban-list empty-list">
        <div class="kanban-list-header">
          <h4 class="kanban-list-heading" #stageTitle contenteditable="true"></h4>
        </div>
        <div class="kanban-list-action">
          <mat-icon class="list-add-btn" (click)="addStage(stageTitle)" matRipple>add_circle_outline</mat-icon>
        </div>
      </div>      
    </div>
  </div>
</div>